# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
* eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# Ignore dev files from export
/tests export-ignore
phpunit.xml.dist export-ignore
psalm.xml export-ignore

# Ignore composer dependencies from export
/vendor export-ignore
